.nav__list, .section-about__user-data, .social, .portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-about__user-data--photo-box::after, .social__link, .portfolio__wrapper::before, .portfolio__code {
  display: block;
}

.section-about__user-data--text a, .portfolio__link {
  display: inline-block;
}

.section__background-overlay, .section-about__user-data--photo-box::after, .social__link, .social__icon, .portfolio__inner, .portfolio__wrapper::before {
  width: 100%;
  height: 100%;
}

.container, .section-about__content--cv {
  margin: 0 auto;
}

.section-about__user-data--icons, .section-about__user-data--photo-box::after, .portfolio__wrapper::before, .back {
  position: absolute;
}

.container, .section-about__user-data--part-item, .section-about__user-data--photo, .section-about__user-data--photo-box, .social__item, .portfolio__wrapper {
  position: relative;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  9% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  14% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  18% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  9% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  14% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  18% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #181818;
  width: 100vw;
  overflow-x: hidden;
}

li {
  list-style: none;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
  }
}

.nav__list {
  font-weight: bold;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__link {
  display: block;
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #181818;
  -webkit-transition: background-color,-webkit-transform .3s;
  transition: background-color,-webkit-transform .3s;
  transition: background-color,transform .3s;
  transition: background-color,transform .3s,-webkit-transform .3s;
}

.nav__item {
  min-width: 100px;
  text-align: center;
}

.nav__item:hover .nav__link {
  background-color: #ee6557;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.container {
  width: 1200px;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 992px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 425px;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 320px;
  }
}

.section {
  min-width: 320px;
}

.section__background-overlay {
  background-color: rgba(245, 245, 245, 0.9);
}

.section__wrapper {
  padding: 300px 0 0;
  width: 100%;
}

.section__white-box {
  padding: 10px 0 20px;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 100px 0 #aaa;
          box-shadow: 0 0 100px 0 #aaa;
}

.section__title {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 50px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .section__title {
    position: static;
  }
}

.section__title--content {
  font-size: 45px;
  padding: 0 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.section__title--line {
  width: 100%;
  background-image: repeating-linear-gradient(to top, #fff, #fff 6px, #6a6a65 6px, #6a6a65 8px);
}

.section-about {
  background: url(..//img/html.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.section-about__content {
  padding: 20px;
  line-height: 30px;
  font-size: 18px;
  word-spacing: 1px;
  text-shadow: 1px 1px 10px #aaa;
  text-align: center;
}

.section-about__content--cv {
  display: block;
  -webkit-box-shadow: 1px 1px 20px 0 #aaa;
          box-shadow: 1px 1px 20px 0 #aaa;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #16a6b6;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section-about__content--cv:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section-about__user-data {
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .section-about__user-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-about__user-data--title {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 20px;
}

.section-about__user-data--icons {
  top: calc(50% - 15px);
  font-size: 30px;
}

.section-about__user-data--icons-right {
  left: 260px;
}

@media only screen and (max-width: 992px) {
  .section-about__user-data--icons-right {
    left: -30px;
  }
}

.section-about__user-data--icons-left {
  right: 260px;
}

.section-about__user-data--icons-animation {
  -webkit-animation: rotate 4s ease-in infinite;
          animation: rotate 4s ease-in infinite;
}

.section-about__user-data--part {
  color: #6a6a65;
}

.section-about__user-data--part-first {
  text-align: right;
}

.section-about__user-data--part-item {
  margin: 25px 5px;
  min-width: 250px;
}

@media only screen and (max-width: 992px) {
  .section-about__user-data--part-item {
    text-align: center;
  }
}

.section-about__user-data--part-item:hover {
  cursor: pointer;
  color: #ee6557;
}

.section-about__user-data--part-item:hover .section-about__user-data--icons-animation {
  -webkit-animation: none;
          animation: none;
}

.section-about__user-data--text {
  font-size: 18px;
  font-style: normal;
}

.section-about__user-data--text a {
  text-decoration: none;
  color: #6a6a65;
}

.section-about__user-data--text a:hover {
  color: #16a6b6;
  -webkit-transform: translate(20px) scale(1.2);
          transform: translate(20px) scale(1.2);
}

.section-about__user-data--photo {
  width: 300px;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  top: -80px;
  left: -40px;
  -webkit-filter: drop-shadow(1px 0 10px #aaa);
          filter: drop-shadow(1px 0 10px #aaa);
}

.section-about__user-data--photo-box {
  width: 270px;
  height: 350px;
  margin: 50px 120px;
  border-width: 5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#16a6b6), color-stop(30%, transparent), color-stop(80%, transparent), to(#ee6557));
     border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
  border-image-slice: 1;
}

@media only screen and (max-width: 425px) {
  .section-about__user-data--photo-box {
    border: none;
  }
}

.section-about__user-data--photo-box::after {
  content: "";
  top: 5px;
  left: 0;
  border-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #ee6557;
}

@media only screen and (max-width: 425px) {
  .section-about__user-data--photo-box::after {
    border: none;
  }
}

.section-skills {
  background: url(..//img/js.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.section-portfolio {
  background: url(..//img/node.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.section-portfolio .section__wrapper {
  padding-bottom: 100px;
}

.table {
  border: 2px solid #6a6a65;
  font-weight: bold;
  margin: 50px auto;
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 425px) {
  .table {
    font-size: 14px;
  }
}

.table__row {
  line-height: 35px;
}

.table__col {
  border: 1px solid #6a6a65;
  padding: 0 10px;
}

.table__col--center {
  text-align: center;
}

.table__header {
  border: 2px solid #6a6a65;
  font-size: 20px;
}

@media only screen and (max-width: 425px) {
  .table__header {
    font-size: 16px;
  }
}

.table__progress {
  background: #6a6a65;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px;
  width: 100%;
  height: 25px;
  margin: 10px 0;
}

.table__progress--fill {
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  background-image: repeating-linear-gradient(-30deg, transparent, transparent 5%, #31da5e 5%, #31da5e 12%);
}

.table__progress--fill-40 {
  width: 40%;
}

.table__progress--fill-70 {
  width: 70%;
}

.table__progress--fill-75 {
  width: 75%;
}

.table__progress--fill-80 {
  width: 80%;
}

.table__progress--fill-90 {
  width: 90%;
}

.social {
  padding: 10px;
  width: 22%;
  margin: 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .social {
    width: 27%;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    width: 34%;
  }
}

@media only screen and (max-width: 768px) {
  .social {
    width: 61%;
  }
}

.social__item {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 0px 3px #979794;
          box-shadow: 2px 2px 0px 3px #979794;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.social__item:active {
  -webkit-box-shadow: 1px 1px 3px 1px #16a6b6;
          box-shadow: 1px 1px 3px 1px #16a6b6;
  top: 1px;
  left: 1px;
}

.social__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social__link {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #16a6b6;
}

.social__icon {
  padding: 10px;
  border-radius: 10px;
}

.portfolio__container {
  margin-top: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio__inner {
  margin-top: 50px;
  font-weight: bold;
  color: #2bc253;
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio__wrapper {
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px -10px #6a6a65;
          box-shadow: 0 0 50px -10px #6a6a65;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio__wrapper::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: -100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio__wrapper--ikea {
  background-position: 0 -2400px;
}

.portfolio__wrapper--blog {
  background-position: 0 -300px;
}

.portfolio__wrapper--adform {
  background-position: 0 0px;
}

.portfolio__wrapper--airplane {
  background-position: 0 -600px;
}

.portfolio__wrapper--apple {
  background-position: 0 -900px;
}

.portfolio__wrapper--article {
  background-position: 0 -1200px;
}

.portfolio__wrapper--bootstrap {
  background-position: 0 -1500px;
}

.portfolio__wrapper--chat {
  background-position: 0 -1800px;
}

.portfolio__wrapper--film {
  background-position: 0 -2100px;
}

.portfolio__wrapper--l1 {
  background-position: 0 -2700px;
}

.portfolio__wrapper--l2 {
  background-position: 0 -3000px;
}

.portfolio__wrapper--nav {
  background-position: 0 -3300px;
}

.portfolio__wrapper--nike {
  background-position: 0 -3600px;
}

.portfolio__wrapper--signup {
  background-position: 0 -3900px;
}

.portfolio__wrapper--vocab {
  background-position: 0 -4200px;
}

.portfolio__wrapper:hover:nth-child(2n) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.portfolio__wrapper:hover:nth-child(2n)::before {
  top: 0%;
}

.portfolio__wrapper:hover:nth-child(2n) .portfolio__inner {
  -webkit-transform: rotate(-5deg) translate(0px);
          transform: rotate(-5deg) translate(0px);
}

.portfolio__wrapper:hover:nth-child(2n + 1) {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.portfolio__wrapper:hover:nth-child(2n + 1)::before {
  top: 0%;
}

.portfolio__wrapper:hover:nth-child(2n + 1) .portfolio__inner {
  -webkit-transform: rotate(5deg) translate(0px);
          transform: rotate(5deg) translate(0px);
}

.portfolio__title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px;
}

.portfolio__link {
  width: 40px;
  height: 40px;
  margin: 20px 0;
}

.portfolio__icons-link {
  width: 100%;
  font-size: 50px;
  line-height: 40px;
  color: #31da5e;
}

.portfolio__code {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}

.portfolio__code--github {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.footer__copyright {
  width: 50%;
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  word-spacing: 3px;
}

.back {
  width: 80px;
  text-align: center;
  right: 0px;
  bottom: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: #aad3d8;
  opacity: 0.3;
  -webkit-box-shadow: 0 0 25px -5px #000;
          box-shadow: 0 0 25px -5px #000;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 768px) {
  .back {
    display: none;
  }
}

.back:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

.back__link {
  text-decoration: none;
  font-weight: bold;
  color: #ee6557;
}
/*# sourceMappingURL=style.css.map */