*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}


@mixin background-image($name,$x,$y) {
    background:url(..//img/#{$name}.png) $x $y no-repeat, #f5f5f5;
    background-size: 30%;
    background-attachment: fixed;
}


body {
    font-family: "Lato", sans-serif;
    color: #181818;
}

li {
    list-style: none;
}

header {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.nav {
    &__list {
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__link {
        display: block;
        width: 100%;
        min-height: 60px;
        line-height: 60px;
        text-decoration: none;
        color: #181818;
        transition: background-color,transform .3s;
    }

    &__item {
        min-width: 100px;
        text-align: center;

        &:hover .nav__link {
            background-color: #ee6557;
            transform: scale(1.2);
            color: white;
        }
    }
}


.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

@keyframes rotate {
    from {
        transform: translateX(0px);
    }

    3% {
        transform: translateX(-6px);
    }

    9% {
        transform: translateX(10px);
    }

    14% {
        transform: translateX(-4px);
    }

    18% {
        transform: translateX(4px);
    }

    20% {
        transform: translateX(0px);
    }

    to {
        transform: translateX(0px);
    }
}

.section {
    // height: 100vh;
    border: 2px solid red;
    &__background-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(245, 245, 245, .9);
    }

    &__wrapper {
        padding: 300px 0 0;
        border: 2px solid orange;
    }

    &__white-box {
        padding: 10px 0;
        background-color: #fff;
        width: 100%;
    }

    &__title {
        position: sticky;
        z-index: 1;
        top: 50px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        
        &--content {
            font-size: 45px;
            padding: 0 20px;
            font-weight: normal;
            text-transform: uppercase;
            // position: sticky;
            // top: -1px;
        }

        &--line {
            width: 100%;
            background-image: repeating-linear-gradient(to top, #fff, #fff 6px, #6a6a65 6px, #6a6a65 8px);
        }
    }

    &-about {
        @include background-image(html,50%, 10%);

        &__content {
            padding: 20px;
            line-height: 25px;
            font-size: 18px;
            text-align: center;
        }

        &__user-data {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            &--title {
                text-transform: uppercase;
                padding-bottom: 5px;
                font-size: 20px;
            }

            &--icons {
                position: absolute;
                top: calc(50% - 15px);
                font-size: 30px;

                &-right {
                    left: 260px;
                }

                &-left {
                    right: 260px;
                }

                &-animation {
                    animation: rotate 4s ease-in infinite;
                }
            }

            &--part {
                color: #6a6a65;
                &-first {
                    text-align: right;
                }

                &-item {
                    margin: 25px 5px;
                    position: relative;
                    min-width: 250px;

                    &:hover {
                        cursor: pointer;
                        color: #ee6557;
                        animation: none;
                    }

                    &:hover .section-about__user-data--icons-animation{
                        animation: none;
                    }
                }
            }

            &--text {
                font-size: 18px;
                font-style: normal;
                & a {
                    text-decoration: none;
                    display: inline-block;
                    color: #6a6a65;

                    &:hover {
                        color: #16a6b6;
                        transform: translate(20px) scale(1.2);
                    }
                }
            }

            &--photo {
                width: 300px;
                transform: rotate(-32deg);
                position: relative;
                top: -80px;
                left: -40px;

                &-box {
                    width: 270px;
                    height: 350px;
                    margin: 50px 120px;
                    position: relative;
                    border-width: 5px;
                    transform: rotate(30deg);
                    border-style: solid;
                    border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
                    border-image-slice: 1;
                    
                    &::after {
                        content: "";
                        display: block;
                        top: 5px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-width: 5px;
                        border-bottom-style: solid; 
                        border-bottom-color: #ee6557;
                    }
                }
            }
        }
    }

    &-skills {
        @include background-image(js, 50%, 10%)
    }

    &-education {
        @include background-image(gulp, 50%, 10%)
    }
}

.table {
    border: 2px solid #6a6a65;
    font-weight: bold;
    // text-align-last: left;
    margin: 50px auto;
    width: 100%;
    border-collapse: collapse;

    &__row {
        line-height: 35px;
    }

    &__col {
        border: 1px solid #6a6a65;
        padding: 0 10px;

        &--center {
            text-align: center;
        }
    }

    &__header {
        border: 2px solid #6a6a65;
        font-size: 20px;
    }

    &__progress {
        background: #6a6a65;
        border-radius: 15px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        padding: 5px;
        width: 100%;
        height: 25px;
        margin: 10px 0;

        &--fill {
            height: 100%;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #2bc253;
            box-shadow: 
                inset 0 2px 9px  rgba(255,255,255,0.3),
                inset 0 -2px 6px rgba(0,0,0,0.4);
            background-image: repeating-linear-gradient(  -30deg, transparent,transparent 5%, #31da5e 5%, #31da5e 12%);

            &-20 {
                width: 20%;
            }

            &-60 {
                width: 60%;
            }

            &-80 {
                width: 80%;
            }

            &-90 {
                width: 90%;
            }
        }
    }
}
