
$desctop:1200px;
$tablet:992px;
$mobile-landscape:768px;
$mobile:425px;
$mobile-litle:320px;

@mixin background-image($name,$x,$y) {
    background:url(..//img/#{$name}.png) $x $y no-repeat, #f5f5f5;
    background-size: 30%;
    background-attachment: fixed;
}

@mixin respond-to ($media) {
    @if $media == desctop {
        @media only screen and (max-width:$desctop) {
            @content;
        }
    } @else if $media == tablet {
        @media only screen and (max-width:$tablet) {
            @content;
        }
    } @else if $media == mobile-landscape {
        @media only screen and (max-width:$mobile-landscape) {
            @content;
        }
    } @else if $media == mobile {
        @media only screen and (max-width:$mobile) {
            @content;
        }
    } @else if $media == mobile-litle {
        @media only screen and (max-width:$mobile-litle) {
            @content;
        }
    }
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

%block {
    display: block;
}

%inline-block {
    display: inline-block;
}

%full-size {
    width: 100%;
    height: 100%;
}

%center {
    margin: 0 auto;
}

%absolute {
    position: absolute;
}

%relative {
    position: relative;
}

@keyframes rotate {
    from {
        transform: translateX(0px);
    }

    3% {
        transform: translateX(-6px);
    }

    9% {
        transform: translateX(10px);
    }

    14% {
        transform: translateX(-4px);
    }

    18% {
        transform: translateX(4px);
    }

    20% {
        transform: translateX(0px);
    }

    to {
        transform: translateX(0px);
    }
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #181818;
    width: 100vw;
    overflow-x: hidden;
}

li {
    list-style: none;
}

header {
    background-color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
    @include respond-to(mobile-landscape) {
        position: relative;
    }
}

.nav {
    &__list {
        font-weight: bold;
        @extend %flex;
        justify-content: space-evenly;
    }

    &__link {
        display: block;
        width: 100%;
        min-height: 60px;
        line-height: 60px;
        text-decoration: none;
        color: #181818;
        transition: background-color,transform .3s;
    }

    &__item {
        min-width: 100px;
        text-align: center;

        &:hover .nav__link {
            background-color: #ee6557;
            transform: scale(1.2);
            color: white;
        }
    }
}


.container {
    width: 1200px;
    height: 100%;
    @extend %center;
    @extend %relative;
    @include respond-to(desctop) {
        width: $desctop;
    }
    @include respond-to(tablet) {
        width: $tablet;
    }
    @include respond-to(mobile-landscape) {
        width: $mobile-landscape;
    }
    @include respond-to(mobile) {
        width: $mobile;
    }
    @include respond-to(mobile-litle) {
        width: $mobile-litle;
    }
}

.section {
    min-width: 320px;
    &__background-overlay {
        @extend %full-size;
        background-color: rgba(245, 245, 245, .9);
    }

    &__wrapper {
        padding: 300px 0 0;
        width: 100%;
    }

    &__white-box {
        padding: 10px 0 20px;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 0 100px 0 #aaa;
    }

    &__title {
        position: sticky;
        z-index: 1;
        top: 50px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        @include respond-to(tablet) {
            position: static;
        }
        
        &--content {
            font-size: 45px;
            padding: 0 20px;
            font-weight: normal;
            text-transform: uppercase;
        }

        &--line {
            width: 100%;
            background-image: repeating-linear-gradient(to top, #fff, #fff 6px, #6a6a65 6px, #6a6a65 8px);
        }
    }

    &-about {
        @include background-image(html,50%, 10%);

        &__content {
            padding: 20px;
            line-height: 30px;
            font-size: 18px;
            word-spacing: 1px;
            text-shadow: 1px 1px 10px #aaa;
            text-align: center;

            &--cv {
                display: block;
                @extend %center;
                box-shadow: 1px 1px 20px 0 #aaa;
                width: 150px;
                border-radius: 10px;
                padding: 10px;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                color: #16a6b6;
                transition: all .4s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &__user-data {
            padding-top: 30px;
            @extend %flex;
            justify-content: center;
            align-items: center;
            @include respond-to(tablet) {
                flex-direction: column;
            }

            &--title {
                text-transform: uppercase;
                padding-bottom: 5px;
                font-size: 20px;
            }

            &--icons {
                @extend %absolute;
                top: calc(50% - 15px);
                font-size: 30px;

                &-right {
                    left: 260px;
                    @include respond-to(tablet) {
                        left: -30px;
                    }
                }

                &-left {
                    right: 260px;
                }

                &-animation {
                    animation: rotate 4s ease-in infinite;
                }
            }

            &--part {
                color: #6a6a65;
                &-first {
                    text-align: right;
                }

                &-item {
                    margin: 25px 5px;
                    @extend %relative;
                    min-width: 250px;
                    @include respond-to(tablet) {
                        text-align: center;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #ee6557;
                    }

                    &:hover .section-about__user-data--icons-animation{
                        animation: none;
                    }
                }
            }

            &--text {
                font-size: 18px;
                font-style: normal;
                & a {
                    text-decoration: none;
                    @extend %inline-block;
                    color: #6a6a65;

                    &:hover {
                        color: #16a6b6;
                        transform: translate(20px) scale(1.2);
                    }
                }
            }

            &--photo {
                width: 300px;
                transform: rotate(-32deg);
                @extend %relative;
                top: -80px;
                left: -40px;
                filter: drop-shadow(1px 0 10px #aaa);

                &-box {
                    width: 270px;
                    height: 350px;
                    margin: 50px 120px;
                    @extend %relative;
                    border-width: 5px;
                    transform: rotate(30deg);
                    border-style: solid;
                    border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
                    border-image-slice: 1;
                    @include respond-to(mobile) {
                        border: none;
                    }
                    
                    &::after {
                        content: "";
                        @extend %block;
                        top: 5px;
                        left: 0;
                        @extend %absolute;
                        @extend %full-size;
                        border-width: 5px;
                        border-bottom-style: solid; 
                        border-bottom-color: #ee6557;
                        @include respond-to(mobile) {
                            border: none;
                        }
                    }
                }
            }
        }
    }

    &-skills {
        @include background-image(js, 50%, 10%);
    }

    &-portfolio {
        @include background-image(node, 50%, 10%);

        & .section__wrapper {
            padding-bottom: 100px;
        }
    }
}

.table {
    border: 2px solid #6a6a65;
    font-weight: bold;
    margin: 50px auto;
    width: 100%;
    border-collapse: collapse;
    @include respond-to(mobile) {
        font-size: 14px;
    }

    &__row {
        line-height: 35px;
    }

    &__col {
        border: 1px solid #6a6a65;
        padding: 0 10px;

        &--center {
            text-align: center;
        }
    }

    &__header {
        border: 2px solid #6a6a65;
        font-size: 20px;
        @include respond-to(mobile) {
            font-size: 16px;
        }
    }

    &__progress {
        background: #6a6a65;
        border-radius: 15px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        padding: 5px;
        width: 100%;
        height: 25px;
        margin: 10px 0;

        &--fill {
            height: 100%;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #2bc253;
            box-shadow: 
                inset 0 2px 9px  rgba(255,255,255,0.3),
                inset 0 -2px 6px rgba(0,0,0,0.4);
            background-image: repeating-linear-gradient(  -30deg, transparent,transparent 5%, #31da5e 5%, #31da5e 12%);

            &-40 {
                width: 40%;
            }

            &-70 {
                width: 70%;
            }

            &-75 {
                width: 75%;
            }

            &-80 {
                width: 80%;
            }

            &-90 {
                width: 90%;
            }
        }
    }
}

.social {
    padding: 10px;
    width: 22%;
    margin: 30px auto;
    @extend %flex;
    justify-content: space-between;
    @include respond-to(desctop) {
        width: 27%;
    }
    @include respond-to(tablet) {
        width: 35%;
    }
    @include respond-to(mobile-landscape) {
        width: 40%;
    }
    @include respond-to(mobile) {
        width: 80%;
    }

    &__item {
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 0px 3px #979794;
        @extend %relative;
        top: 0;
        left: 0;
        transition: transform .2s;

        &:active {
            box-shadow: 1px 1px 3px 1px #16a6b6;
            top: 1px;
            left: 1px;
        }

        &:hover {
            transform:scale(1.1);
        }
    }

    &__link {
        @extend %block;
        @extend %full-size;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: #16a6b6;
    }

    &__icon {
        @extend %full-size;
        padding: 10px;
        border-radius: 10px;
    }
}

.portfolio {
    &__container {
        margin-top: 30px;
        @extend %flex;
        justify-content: space-evenly;
    }

    &__inner {
        @extend %full-size;
        margin-top: 50px;
        font-weight: bold;
        color: #2bc253;
        transform: translate(-600px);
        transition: all .6s;
    }

    &__wrapper {
        width: 300px;
        height: 300px;
        margin: 10px;
        text-align: center;
        @extend %relative;
        padding: 20px;
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        box-shadow: 0 0 50px -10px #6a6a65;
        overflow: hidden;
        transition: all 0.5s;

        &::before {
            content: "";
            @extend %absolute;
            @extend %full-size;
            @extend %block;
            background-color: rgba(255, 255, 255, .8);
            left: 0;
            top: -100%;
            transition: all .6s;
        }

        &--ikea {
            background-position: 0 -2400px;
        }

        &--blog {
            background-position: 0 -300px;
        }

        &--adform {
            background-position: 0 0px;
        }

        &--airplane {
            background-position: 0 -600px;
        }

        &--apple {
            background-position: 0 -900px;
        }

        &--article {
            background-position: 0 -1200px;
        }

        &--bootstrap {
            background-position: 0 -1500px;
        }

        &--chat {
            background-position: 0 -1800px;
        }

        &--film {
            background-position: 0 -2100px;
        }

        &--l1 {
            background-position: 0 -2700px;
        }

        &--l2 {
            background-position: 0 -3000px;
        }

        &--nav {
            background-position: 0 -3300px;
        }

        &--nike {
            background-position: 0 -3600px;
        }

        &--signup {
            background-position: 0 -3900px;
        }

        &--vocab {
            background-position: 0 -4200px;
        }

        &:hover:nth-child(2n) {
            transform: rotate(5deg);

            &::before {
                top: 0%;
            }

            .portfolio__inner {
                transform:rotate(-5deg) translate(0px);
            }
        }

        &:hover:nth-child(2n + 1) {
            transform: rotate(-5deg);

            &::before {
                top: 0%;
            }

            .portfolio__inner {
                transform:rotate(5deg) translate(0px);
            }
        }
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        margin: 15px;
    }

    &__link {
        @extend %inline-block;
        width: 40px;
        height: 40px;
        margin: 20px 0;
    }

    &__icons-link {
        width: 100%;
        font-size: 50px;
        line-height: 40px;
        color: #31da5e;
    }

    &__code {
        @extend %block;
        width: 40px;
        height: 40px;
        margin: 10px auto;

        &--github {
            width: 100%;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

.footer__copyright {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    word-spacing: 3px;
}

.back {
    width: 80px;
    text-align: center;
    @extend %absolute;
    right: 0px;
    bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color:#aad3d8;
    opacity: 0.3;
    box-shadow: 0 0 25px -5px #000;
    transition: .3s;
    @include respond-to(mobile-landscape) {
        display: none;
    }

    &:hover {
        transform: scale(1.1);
        opacity: 1;
    }

    &__link {
        text-decoration: none;
        font-weight: bold;
        color: #ee6557;
    }
}