*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Lato", sans-serif;
  color: #181818;
}

li {
  list-style: none;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.nav__list {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__link {
  display: block;
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #181818;
  -webkit-transition: background-color,-webkit-transform .3s;
  transition: background-color,-webkit-transform .3s;
  transition: background-color,transform .3s;
  transition: background-color,transform .3s,-webkit-transform .3s;
}

.nav__item {
  min-width: 100px;
  text-align: center;
}

.nav__item:hover .nav__link {
  background-color: #ee6557;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  9% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  14% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  18% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  9% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  14% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  18% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  20% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.section {
  border: 2px solid red;
}

.section__background-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.9);
}

.section__wrapper {
  padding: 300px 0 0;
  border: 2px solid orange;
}

.section__white-box {
  padding: 10px 0;
  background-color: #fff;
  width: 100%;
}

.section__title {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 50px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__title--content {
  font-size: 45px;
  padding: 0 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.section__title--line {
  width: 100%;
  background-image: repeating-linear-gradient(to top, #fff, #fff 6px, #6a6a65 6px, #6a6a65 8px);
}

.section-about {
  background: url(..//img/html.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.section-about__content {
  padding: 20px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}

.section-about__user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about__user-data--title {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 20px;
}

.section-about__user-data--icons {
  position: absolute;
  top: calc(50% - 15px);
  font-size: 30px;
}

.section-about__user-data--icons-right {
  left: 260px;
}

.section-about__user-data--icons-left {
  right: 260px;
}

.section-about__user-data--icons-animation {
  -webkit-animation: rotate 4s ease-in infinite;
          animation: rotate 4s ease-in infinite;
}

.section-about__user-data--part {
  color: #6a6a65;
}

.section-about__user-data--part-first {
  text-align: right;
}

.section-about__user-data--part-item {
  margin: 25px 5px;
  position: relative;
  min-width: 250px;
}

.section-about__user-data--part-item:hover {
  cursor: pointer;
  color: #ee6557;
  -webkit-animation: none;
          animation: none;
}

.section-about__user-data--part-item:hover .section-about__user-data--icons-animation {
  -webkit-animation: none;
          animation: none;
}

.section-about__user-data--text {
  font-size: 18px;
  font-style: normal;
}

.section-about__user-data--text a {
  text-decoration: none;
  display: inline-block;
  color: #6a6a65;
}

.section-about__user-data--text a:hover {
  color: #16a6b6;
  -webkit-transform: translate(20px) scale(1.2);
          transform: translate(20px) scale(1.2);
}

.section-about__user-data--photo {
  width: 300px;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  position: relative;
  top: -80px;
  left: -40px;
  -webkit-filter: drop-shadow(2px 0 20px #181818);
          filter: drop-shadow(2px 0 20px #181818);
}

.section-about__user-data--photo-box {
  width: 270px;
  height: 350px;
  margin: 50px 120px;
  position: relative;
  border-width: 5px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-style: solid;
  -o-border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#16a6b6), color-stop(30%, transparent), color-stop(80%, transparent), to(#ee6557));
     border-image: linear-gradient(to bottom, #16a6b6 0%, transparent 30%, transparent 80%, #ee6557 100%);
  border-image-slice: 1;
}

.section-about__user-data--photo-box::after {
  content: "";
  display: block;
  top: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #ee6557;
}

.section-skills {
  background: url(..//img/js.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.section-portfolio {
  background: url(..//img/node.png) 50% 10% no-repeat, #f5f5f5;
  background-size: 30%;
  background-attachment: fixed;
}

.table {
  border: 2px solid #6a6a65;
  font-weight: bold;
  margin: 50px auto;
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  line-height: 35px;
}

.table__col {
  border: 1px solid #6a6a65;
  padding: 0 10px;
}

.table__col--center {
  text-align: center;
}

.table__header {
  border: 2px solid #6a6a65;
  font-size: 20px;
}

.table__progress {
  background: #6a6a65;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  padding: 5px;
  width: 100%;
  height: 25px;
  margin: 10px 0;
}

.table__progress--fill {
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  background-image: repeating-linear-gradient(-30deg, transparent, transparent 5%, #31da5e 5%, #31da5e 12%);
}

.table__progress--fill-40 {
  width: 40%;
}

.table__progress--fill-70 {
  width: 70%;
}

.table__progress--fill-75 {
  width: 75%;
}

.table__progress--fill-80 {
  width: 80%;
}

.table__progress--fill-90 {
  width: 90%;
}

.social {
  position: absolute;
  width: 50%;
  border: 1px solid green;
  top: -150px;
  left: calc(50% - 50%/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio__inner {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  font-weight: bold;
  color: #2bc253;
  -webkit-transform: translate(-600px);
          transform: translate(-600px);
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio__wrapper {
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  position: relative;
  padding: 20px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 50px -10px #6a6a65;
          box-shadow: 0 0 50px -10px #6a6a65;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: -100%;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.portfolio__wrapper--ikea {
  background-position: 0 -2400px;
}

.portfolio__wrapper--blog {
  background-position: 0 -300px;
}

.portfolio__wrapper--adform {
  background-position: 0 0px;
}

.portfolio__wrapper--airplane {
  background-position: 0 -600px;
}

.portfolio__wrapper--apple {
  background-position: 0 -900px;
}

.portfolio__wrapper--article {
  background-position: 0 -1200px;
}

.portfolio__wrapper--bootstrap {
  background-position: 0 -1500px;
}

.portfolio__wrapper--chat {
  background-position: 0 -1800px;
}

.portfolio__wrapper--film {
  background-position: 0 -2100px;
}

.portfolio__wrapper--l1 {
  background-position: 0 -2700px;
}

.portfolio__wrapper--l2 {
  background-position: 0 -3000px;
}

.portfolio__wrapper--nav {
  background-position: 0 -3300px;
}

.portfolio__wrapper--nike {
  background-position: 0 -3600px;
}

.portfolio__wrapper--signup {
  background-position: 0 -3900px;
}

.portfolio__wrapper--vocab {
  background-position: 0 -4200px;
}

.portfolio__wrapper:hover:nth-child(2n) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.portfolio__wrapper:hover:nth-child(2n)::before {
  top: 0%;
}

.portfolio__wrapper:hover:nth-child(2n) .portfolio__inner {
  -webkit-transform: rotate(-5deg) translate(0px);
          transform: rotate(-5deg) translate(0px);
}

.portfolio__wrapper:hover:nth-child(2n + 1) {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.portfolio__wrapper:hover:nth-child(2n + 1)::before {
  top: 0%;
}

.portfolio__wrapper:hover:nth-child(2n + 1) .portfolio__inner {
  -webkit-transform: rotate(5deg) translate(0px);
          transform: rotate(5deg) translate(0px);
}

.portfolio__title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px;
}

.portfolio__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 20px 0;
}

.portfolio__icons-link {
  width: 100%;
  font-size: 50px;
  line-height: 40px;
  color: #31da5e;
}

.portfolio__code {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto;
}

.portfolio__code--github {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */